body {
    background: rgb(88,102,156);
    background: radial-gradient(circle, rgba(88,102,156,1) 0%, rgba(187,218,255,1) 93%);
}
.tiitel {
    text-align: center;
    margin-bottom: 100px;
}

button {
    display: inline-block;
    padding: 10px 10px;
}
.footer {
    margin-top: 200px;
    text-align: center;
}